<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #job-card {
        display: flex
        
      }
    </style>
  </head>
  <body>
    <h1>Open Jobs</h1>
    <div>
      <h3>Programmer data analyst</h3>
      <div id="job-card">
        <p>exerience in data science and analytics </p>
        <button>Apply</button>
      </div>
    </div>
  </body>
</html>
